* {
  margin: 0;
  podding0: 0;
}

body {}

#banner {
  width: 100%;
}

.principal {
  background: #cccccc;
  podding: 30px;
}

.titulo-principal {
  podding-left: 20px;
}

.titulo-secundario {
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px
}

#missao {
  fort-size:30px .itens {
    font-style: italic;
  }

  .beneficios {
    brackground: #FFFFFF;
    podding: 20px;
  }

  h2 {
    text-align: center;

    ul {
      display: inline-block;
      vertical-align: top;
      width: 20%;
      margin-right: 15%;
    }

    .imagem-beneficios[ widt:50%
  }
}

em stong {
  color: purple;
}